.hero-container {
  padding: 2rem;
  min-height: 80vh;
  background-color: #ececec;
  display: flex;
  justify-content: center;
  color: #333;
}

.hero-content {
  width: 50%;
  padding: 1rem;
}
.hero-img-container {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 1rem;
}
.hero-container img {
  width: 100%;
}
.hero-container p {
  font-size: 1rem;
}
.hero-container h3 {
  margin-top: 0;
}
.hero-title {
  font-size: 3.5rem;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0.5rem 0;
}
.btn-container {
  margin: 2rem 0px;
}
.hero-container button {
  background-color: #ffe066;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-size: 1.1rem;
  padding: 1rem 2rem;
  border-radius: 5px;
}
.hero-container button:nth-last-of-type(2) {
  margin: 0px 10px;
}
.app-wrapper {
  width: 100%;
  background-color: #ecf0f1;
}
.note-app-intro-container {
  padding: 3rem 2rem;
  max-width: 980px;
  margin: 1rem auto;
  display: flex;
}

.app-introduction {
  display: flex;
  flex-direction: column;
}
.app-introduction h4 {
  margin-top: 10px;
  margin-bottom: 0;
  color: #414141;
}
.app-introduction h3 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}
.app-introduction button {
  align-self: start;
  border: 0;
  padding: 0.8rem 2rem;
  background-color: transparent;
  border: 2px solid #333;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
}
.app-introduction button:hover {
  background-color: #ffe066e5;
  color: #333;
}
.img-container {
  display: flex;
  justify-content: center;
  width: 60%;
}
.img-container:nth-of-type(1) {
  justify-content: start;
}
.img-container img {
  height: 100%;
  width: 85%;
}
@media only screen and (max-width: 1020px) {
  .hero-title {
    font-size: 3rem;
  }
  .hero-content {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
  }
  .hero-container {
    padding: 1rem;
  }
}
@media only screen and (max-width: 850px) {
  .hero-container {
    padding: 0rem;
  }
  .hero-title {
    font-size: 2.6rem;
  }
  .hero-img-container {
    width: 40%;
  }
  .hero-container p {
    margin-top: 0;
  }
}
@media only screen and (max-width: 750px) {
  .hero-container {
    min-height: 70vh;
  }
}

@media only screen and (max-width: 660px) {
  .hero-container {
    flex-direction: column;
  }
  .hero-content {
    width: 100%;
  }
  .hero-img-container {
    width: 100%;
  }

  .note-app-intro-container {
    flex-direction: column;
  }
  .app-introduction {
    margin-top: 1rem;
  }
  .img-container {
    margin-top: 1rem;
    width: 100%;
  }
  .img-container img {
    height: 50%;
  }
  .hero-container {
    padding: 2rem;
  }
  .hero-title {
    font-size: 2.8rem;
  }
  .img-container:nth-of-type(1) {
    justify-content: center;
  }
}
