/* Helpers */
@import "./helpers.css";

/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/*Notes APP CSS*/
@import "./note-app/cmps/note.css";
@import "./note-app/header.css";
@import "./note-app/cmps/add-note-extended.css";
@import "./note-app/cmps/notes-app-container.css";

/*Email APP CSS*/
@import "./apps/email-app/email.css";

/* MAIN */

body {
  margin: 0;
  background-image: url("../img/winner.jpg!d");
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  outline: none; 
}

input, textarea{
  outline: none;
}

a {
  text-decoration: none;
}

.app-header {
  background-color: rgb(184, 184, 184);
  color: white;
  margin: 0;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-bottom: white solid 2px;
  text-decoration: none;
}

.app-header .logo {
  margin-right: 40px;
}