/* Helpers */
@import "./helpers.css";

/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/*Notes APP CSS*/
@import "./note-app/cmps/note.css";
@import "./note-app/header.css";
@import "./note-app/cmps/add-note-extended.css";

/*Email APP CSS*/
@import "./apps/email-app/email.css";

/* MAIN */

body {
  margin: 0;
}
html {
  font-family: "Roboto", sans-serif;
}
* {
  box-sizing: border-box;
}

<<<<<<< HEAD
/* .app-header {

} */
=======
.app-header {
}
>>>>>>> 064ba484e433222378dbc955c3b47ebfc8bf7620
