.read {
  font-weight: 400;
}

.unread {
  font-weight: bold;
}

.email-preview {
  flex-grow: 1;
  border-bottom: solid black 1px;
  background-color: white;
  color: black;
  padding-left: 15px;
}

.email-preview>*{
  width:25%;
}

.email-preview:hover {
  opacity: 1;
  background-color:#ffe066;

}

.star {
    visibility:hidden;
    font-size:20px;
    cursor:pointer;
}
.star:before {
    content: "\2606";
  
   color:black;
   margin-top: -9px;
   position: absolute;
   visibility:visible;
}
.star:checked:before {
    content: "\2605";
   /* position: absolute; */
}

.email-preview button {
    margin-right: 30px;
    margin-left: 30px;
    /* padding-top: 5px; */
    height: 30px;
}

.checkbox{
    margin-left:50px;
    width: 15px;
    height: 15px;
}
.checkboxes {
    margin-right:40px;
    align-self: center;
}

.email-preview .remove-btn {
    width: 40px;
    height: 100%;
    align-self: center;
    background-color: white;
    border: none;
}



/* ONLY MOBILE */

@media (max-width: 860px) {
  
.star:before {

 margin-top: 13px;

}

.checkboxes {
  margin-bottom: 30px;
} 

.email-preview .remove-btn {
  display: none;
}
         
}
