.read {
  font-weight: 400;
}

.unread {
  font-weight: bold;
}

.email-preview {
  flex-grow: 1;
  border: solid white 1px;
  background-color: rgb(80, 80, 80);
  opacity: 0.7;
  color: white;
  /* box-shadow: 0px 2px 6px 5px #000000; */
  /* box-shadow: 0px 0px 1px 1px #000000; */
  padding-left: 15px;
}

.email-preview:hover {
  opacity: 1;
  background-color: rgb(163, 163, 163);
  color: yellow;
}

.star {
    visibility:hidden;
    font-size:25px;
    cursor:pointer;
}
.star:before {
   content: "\2605";
   color: white;
   margin-top: 5px;
   position: absolute;
   visibility:visible;
}
.star:checked:before {
   content: "\2606";
   /* position: absolute; */
}

.email-preview button {
    margin-right: 30px;
    margin-left: 30px;
    /* padding-top: 5px; */
    height: 30px;
}

.checkbox{
    margin-left:50px;
}
.checkboxes {
    margin-right:40px;
}