.side-nav {
    border: solid white 1px;
    text-align: left;
    background-color: white;  
    border-radius: 0 0 30px 0;
    flex-grow: 1;
    padding-left: 30px;
    padding-right: 20px;
}

.side-container{
    margin-top: 30px;
    text-align: center;
    position: fixed;
    top:35px;
    max-width: 20%;
    z-index: 3;
}

.hamburger{
    position: fixed;
    top:65px;
    background-color: #ffe066;
    border: none;
}

.side-container h3{
    position: relative;
    text-align: center;
}

.side-container h3:hover{
    cursor: pointer;
    text-decoration: underline;
}

.compose{
    background-color: #064e06;
    color: white;
    transition: all .7s ease-in-out; 
}

.compose:hover {
    transform: scale(1.1);
}



/* ONLY MOBILE */

@media (max-width: 860px) {
    .side-nav {
        padding-left: 0px;
        padding-right: 0px;
    }
    .side-container {
        max-width: 25%; 
        transition: 0.7s;
        transform: translateX(-100%); 
    }
    .move {
        transform: translateX(0%); 

    }
    .compose:hover {
        transform: scale(1);
    }
           
}