.notes-container {
  margin: 0 auto;
  padding: 1rem 4rem;
  column-count: 3;
  column-gap: 10px;
  columns: 300px;
  page-break-inside: avoid;
  break-inside: avoid;
  overflow: hidden;
}
.notes-container > * {
  page-break-inside: avoid;
  break-inside: avoid;
}

.notes-container p {
  margin: 0;
}
