.notes-container {
  margin: 0 auto;
  column-count: 3;
  column-gap: 10px;
  row-gap: 20px;
  columns: 300px;
  min-height: 100vh;
  page-break-inside: avoid;
  break-inside: avoid;
}
.notes-container > * {
  page-break-inside: avoid;
  break-inside: avoid;
}
.notes-container textarea {
  border: none;
  outline: none;
}
