.user-msg {
    position: fixed;
  padding: 20px;
  bottom: 20px;
  border-radius: 15px;
  right: 40%;
  min-width: 20%;
  background-color: white;
  color: black;
  border: solid black 2px;
}

.user-msg p {
    text-align: center;
    color: black;

    font-size: 1.2rem;
}

.user-msg button {
    float:right;
}

.cls-btn {
    font-size: 1.2rem;
}



/* ONLY MOBILE */

@media (max-width: 860px) {
    .user-msg {
        right: 35%;
    }
}