@import "./cmps/email-preview.css";
@import "./cmps/email-list.css";
@import "./cmps/email-compose.css";
@import "./cmps/email-details.css";
@import "./cmps/email-status.css";
@import "../book-app/user-msg.css";
@import "./cmps/side-nav.css";

/* MAIN */

/* HEADER - the rest in the main file */
.app-header input,
.app-header select {
  height: 30px;
}

.app-header a {
  color: yellow;
}

.app-header a:hover {
  color: black;
}

.list-container {
  flex-grow: 1;
  margin-left: 70px;
  margin-right: 70px;
}

/* i {
  font-size: 2rem;
} */
<<<<<<< HEAD
=======
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 70px;
}

.i-btns {
    font-size: 2rem;
 }
<<<<<<< HEAD

 
=======
>>>>>>> 2457d5e3061afcb5d7ff9cafa02af45f8a51e44d
>>>>>>> ccc60177c6b85afb40f369956c90a4860d4a8a89
=======
>>>>>>> d0c4d801276dfc6c88db30698d90524e03eae392
