@import "./cmps/email-preview.css";
@import "./cmps/email-list.css";
@import "./cmps/email-compose.css";
@import "./cmps/email-details.css";
@import "./cmps/email-status.css";
@import "../book-app/user-msg.css";
@import "./cmps/side-nav.css";
@import "./cmps/email-filter.css";

/* MAIN */

.email-app, .email-details{
    height: 100%;
}

 .email-app, .email-details{
    background-color: #40654ab8;;
}


/* HEADER - the rest in the main file */
.app-header input,
.app-header select {
  height: 30px;
}

.email-app header, .email-details header{
    margin-bottom: 30px;
} 

.list-container {

  flex-grow: 1;
  width: 75%;
  margin: 0 auto;
  margin-left: 15%;
  margin-right: 5%;
  margin-top: 60px;
}

.list-container  ul{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.i-btns {
    font-size: 2rem;
 }

 @media (max-width: 1124px) {
    .list-container {
        margin-left: 20%;
    }
}

/* ONLY MOBILE */

@media (max-width: 860px) {
    .list-container {
        width: 100%;
        margin-left: 0;
    }
}